body {
  width: 100%;
  height: 100%;
  margin: 0;
}

header {
  text-align:center;
}

.room {
  display: block;
  margin-left:auto;
  margin-right: auto;
}

a {
  padding-right: 10px;
  padding-left: 10px;
  background-color: #78C4FF;
}

figcaption {
  font-size: 12px;
  text-align: center;
}

#featured-property p {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#details > div {
  display: block;
  float: left;
  background-color: red;
  text-align: center;
  width: 25%;
}